
@import '~bulma/sass/utilities/initial-variables'; @import '~bulma/sass/utilities/functions';
@import "~bulma/sass/utilities/_all";
@import url(https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.9.0/css/all.min.css);
@import url('https://cdn.jsdelivr.net/gh/MattixNow/OnEstCombien/res/snackbar.css');
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@debug $family-sans-serif;
h1 {
  font-family: "Montserrat", Montserrat, Arial, Helvetica, sans-serif;
}
* {-moz-box-sizing: border-box; box-sizing: border-box;}
html {
  min-height: 100%;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
}

@media (orientation:portrait) {
  .contain {
        // height: 111vh !important;
  }
 }

 figure {
   color: grey;
   font-style: italic;
   text-align: center;
 }

 figcaption {
   box-shadow: none;
 }
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 5px;
}
.nuxt-progress {
background: rgb(14,12,46);
background: linear-gradient(90deg, rgba(14,12,46,0) 0%, rgba(55,96,255,1) 100%);

}



.click-cursor {
  cursor: pointer;
}
.default-cursor {
  cursor:default ;
}
@media (max-width: 768px) {
  $section-padding: 1.5rem 1.5rem 3rem 1.5rem
}

footer {

  
  width: 100%;
  padding: 3rem 1.5rem 3rem;
  bottom: 0;
  left: 0;
  right: 0;
  display: flow-root;
  +mobile {
    border: solid 20px green;
  }
  position: absolute;
    bottom: -107px;
}

::selection {
  background-color: rgba(227, 255, 255, 0.315)
}

.linkn {
  color: inherit;
}

.mabox {
  background-color: whitesmoke;
    border-radius: $radius;
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
    position: relative;
}

.has-background-gradient {
    background: #020021;
    background: linear-gradient(166deg, #020021 0%, #00758c 140%);
    background: url("https://images.unsplash.com/photo-1502053877922-431b5e61e449?ixlib=rb-1.2.1…00&fm=jpg&crop=top&cs=tinysrgb&w=1800&h=400&fit=crop&ixid=eyJhcHBfaWQiOjF9");
    background-position: top;
}

.slideee {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: transparent;
  transform: translateY(-4px)
}
.slideee:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background: rgb(2,0,33);
background: linear-gradient(90deg, rgba(2,0,33,0) 0%, rgba(255,255,255,1) 100%);
  animation: loading 5s linear infinite;
  border-radius: 5px;
}

@keyframes loading {
    from {left: -400px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}


@keyframes bg-hue {
  from {
    
  }
}

.page-enter-active, .page-leave-active {
  transition: all .30s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}

// @mixin jost-font {
//   font-family: "Jost", Jost, "Jost *", -apple-system, BlinkMacSystemFont,
//     "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
//     sans-serif;
// }

@import '~bulma'; // Check if it's work (@import "~bulma/bulma.sass";)



